@import "assets/govuk-frontend-toolkit.scss";

.IcingaAlerts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.IcingaAlerts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.IcingaAlerts__item {
  flex: 1 0 50%;
  padding: 10px;
}
