@import "assets/govuk-frontend-toolkit.scss";

.IcingaAlert {
  color: $white;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.IcingaAlert__header {
  text-align: center;
  margin: 0 0 10px;
}

.IcingaAlert__counts {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.IcingaAlert__count {
  flex: 1 0 33%;
  text-align: center;
  strong {
    display: block;
    font-size: 200%;
  }
}

.IcingaAlert--critical {
  background: $red;
}

.IcingaAlert--warning {
  background: $orange;
}

.IcingaAlert--clear {
  background: $green;
}

.IcingaAlert--unknown {
  background: $fuschia;
}
